workflows/BallCODE-Book/email_system/n8n-email-automation-workflow.json
{
  "name": "BallCODE Email Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "scheduled-trigger",
      "name": "Check for New Emails",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "host": "localhost",
        "port": 2525,
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "check-emails",
      "name": "Check Email System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "notes": "Check for new emails via API or database"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-new-emails",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-new",
      "name": "Has New Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process email for sales pipeline\nconst email = $input.item.json;\n\n// Extract email address\nconst fromAddress = email.from_address || '';\nconst emailAddr = fromAddress.split('<').pop().split('>')[0].trim();\n\n// Check if from ballcode.co (skip internal)\nif (emailAddr.includes('ballcode.co')) {\n  return []; // Skip internal emails\n}\n\n// Create lead data\nconst leadData = {\n  email: emailAddr,\n  name: fromAddress.split('<')[0].trim() || 'Unknown',\n  subject: email.subject || '',\n  body: email.body || '',\n  date: email.date_received || new Date().toISOString(),\n  email_id: email.id\n};\n\nreturn [{ json: leadData }];"
      },
      "id": "process-email",
      "name": "Process Email for Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL || '' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"📧 New Email Received\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"📧 New Email\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": `*From:*\\n${$json.email}`\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": `*Subject:*\\n${$json.subject}`\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200],
      "notes": "Send notification to Slack if webhook configured"
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{ $env.APOLLO_API_KEY || '' }}"
            },
            {
              "name": "person_emails",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "enrich-apollo",
      "name": "Enrich with Apollo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400],
      "notes": "Enrich lead with Apollo data if API key configured"
    },
    {
      "parameters": {
        "host": "localhost",
        "port": 2525,
        "fromEmail": "noreply@ballcode.co",
        "toEmail": "={{ $json.email }}",
        "subject": "Thank you for contacting BallCODE",
        "message": "We received your email and will respond soon!",
        "emailType": "text"
      },
      "id": "send-auto-reply",
      "name": "Send Auto-Reply",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "notes": "Optional: Send auto-reply to new emails"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"processed\", \"email_id\": $json.email_id } }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Check for New Emails": {
      "main": [[{"node": "Check Email System", "type": "main", "index": 0}]]
    },
    "Check Email System": {
      "main": [[{"node": "Has New Emails?", "type": "main", "index": 0}]]
    },
    "Has New Emails?": {
      "main": [
        [{"node": "Process Email for Pipeline", "type": "main", "index": 0}],
        []
      ]
    },
    "Process Email for Pipeline": {
      "main": [
        [
          {"node": "Notify Slack", "type": "main", "index": 0},
          {"node": "Enrich with Apollo", "type": "main", "index": 0}
        ]
      ]
    },
    "Notify Slack": {
      "main": [[{"node": "Send Auto-Reply", "type": "main", "index": 0}]]
    },
    "Enrich with Apollo": {
      "main": [[{"node": "Send Auto-Reply", "type": "main", "index": 0}]]
    },
    "Send Auto-Reply": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-12T00:00:00.000Z",
  "versionId": "1"
}



