workflows/BallCODE-Book/n8n-unity-automation-workflow-PRODUCTION-READY.json
{
  "name": "Unity AI Automation - PRODUCTION READY",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "scheduled-trigger",
      "name": "Scheduled Trigger (Hourly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "unity-dev",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger (Manual/API)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        500
      ],
      "webhookId": "unity-dev-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "github-webhook-trigger",
      "name": "GitHub Webhook (Code Changes)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        700
      ],
      "webhookId": "github-unity-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body?.request || $json.body?.ref || $json.request || 'scheduled' }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "merge-triggers",
      "name": "Merge All Triggers",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize Input - PRODUCTION READY\n// CRITICAL FIX: Preserve ALL data + Check for provided actionPlan\nconst inputData = $input.item.json || {};\nconst body = inputData.body || {};\nconst directData = inputData.request ? inputData : {};\n\n// Extract request - ALL possible sources\nlet request = directData.request || body.request || inputData.request || body.head_commit?.message || 'Automated build from scheduled trigger';\n\n// Extract actionPlan - PRIORITY: Use provided plan if exists\nlet actionPlan = directData.actionPlan || body.actionPlan || inputData.actionPlan;\n\n// Check if actionPlan is valid and provided\nlet hasProvidedActionPlan = !!(actionPlan && typeof actionPlan === 'object' && Object.keys(actionPlan).length > 0);\n\n// Determine trigger type\nlet triggerType = directData.triggerType || body.triggerType || inputData.triggerType;\nif (!triggerType) {\n  if (body.ref || inputData.ref) {\n    triggerType = 'github';\n  } else if (request !== 'Automated build from scheduled trigger') {\n    triggerType = 'webhook';\n  } else {\n    triggerType = 'scheduled';\n  }\n}\n\n// CRITICAL FIX: For scheduled triggers, always build (hourly builds goal)\n// For webhook/GitHub triggers, use AI analysis (smart)\nif (triggerType === 'scheduled') {\n  // Scheduled trigger = always build (hourly builds running automatically)\n  if (!actionPlan) {\n    actionPlan = {};\n  }\n  actionPlan.needsBuild = true;\n  actionPlan.needsDeploy = true;\n  actionPlan.needsUnityEdits = false;\n  hasProvidedActionPlan = true; // Skip AI analysis for scheduled\n}\n\n// If actionPlan provided, ensure needsUnityEdits is set correctly\nif (hasProvidedActionPlan && actionPlan.unityEdits && actionPlan.unityEdits.length > 0) {\n  actionPlan.needsUnityEdits = true;\n}\n\n// Calculate shouldProceed based on actionPlan\nlet shouldProceed = false;\nif (hasProvidedActionPlan) {\n  shouldProceed = actionPlan.needsBuild || actionPlan.needsUnityEdits || actionPlan.needsDeploy || false;\n} else {\n  // Will be calculated after AI analysis (for webhook/GitHub triggers)\n  shouldProceed = null;\n}\n\nreturn {\n  json: {\n    ...inputData,\n    ...body,\n    ...directData,\n    request: request,\n    triggerType: triggerType,\n    actionPlan: actionPlan,\n    hasProvidedActionPlan: hasProvidedActionPlan,\n    shouldProceed: shouldProceed,\n    timestamp: new Date().toISOString(),\n    branch: (body.ref || inputData.ref) ? (body.ref || inputData.ref).replace('refs/heads/', '') : (body.branch || directData.branch || 'main'),\n    commitMessage: body.head_commit?.message || body.commitMessage || directData.commitMessage || 'Scheduled build'\n  }\n};"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasProvidedActionPlan || false }}",
              "value2": false
            }
          ]
        }
      },
      "id": "check-action-plan",
      "name": "Has Provided ActionPlan?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        500
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4",
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a Unity development assistant. Analyze development requests and create a structured action plan with specific Unity edits needed."
            },
            {
              "role": "user",
              "content": "Analyze this Unity development request and create a JSON action plan:\n\nRequest: {{ $json.request || 'No request provided' }}\n\nReturn JSON with:\n- needsUnityEdits: boolean (does this require Unity Editor changes?)\n- unityEdits: array of {file: string, action: string, changes: string}\n- needsBuild: boolean\n- needsDeploy: boolean\n- estimatedTime: string\n- priority: string (low/medium/high)\n\nFormat as valid JSON only."
            }
          ]
        }
      },
      "id": "ai-analyze",
      "name": "AI Analyze Request",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and extract action plan (PRODUCTION READY)\n// CRITICAL: preserve Normalize Input context so request/triggerType/paths don't get lost.\nconst base = $('Normalize Input').item.json || {};\nconst aiResponse = $input.item.json.choices?.[0]?.message?.content || '{}';\nlet actionPlan;\n\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  actionPlan = JSON.parse(jsonMatch ? jsonMatch[0] : aiResponse);\n} catch (e) {\n  actionPlan = {\n    needsUnityEdits: false,\n    needsBuild: true,\n    needsDeploy: true,\n    estimatedTime: '15 minutes',\n    priority: 'medium'\n  };\n}\n\n// Hybrid behavior:\n// - scheduled: always build+deploy (verification cadence)\n// - webhook/github: respect AI (smart skip)\nconst triggerType = String(base.triggerType || '').toLowerCase();\nconst isScheduled = triggerType === 'scheduled';\n\nif (isScheduled) {\n  actionPlan.needsBuild = true;\n  actionPlan.needsDeploy = true;\n}\n\nconst shouldProceed = Boolean(actionPlan.needsBuild || actionPlan.needsUnityEdits || actionPlan.needsDeploy);\n\nreturn {\n  json: {\n    ...base,\n    actionPlan: actionPlan,\n    shouldProceed: shouldProceed\n  }\n};"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge Action Plans - Use provided if exists, otherwise use AI-generated\nconst inputData = $input.item.json || {};\nconst providedPlan = inputData.actionPlan;\nconst hasProvided = inputData.hasProvidedActionPlan;\n\n// If we have provided plan, use it; otherwise use AI-generated\nlet finalActionPlan = providedPlan;\nif (!hasProvided && inputData.actionPlan) {\n  finalActionPlan = inputData.actionPlan;\n}\n\n// Ensure actionPlan boolean values are correct - CRITICAL FIX: Handle strings and booleans\nif (finalActionPlan) {\n  // Convert needsUnityEdits\n  if (typeof finalActionPlan.needsUnityEdits !== 'boolean') {\n    if (finalActionPlan.unityEdits && Array.isArray(finalActionPlan.unityEdits) && finalActionPlan.unityEdits.length > 0) {\n      finalActionPlan.needsUnityEdits = true;\n    } else {\n      finalActionPlan.needsUnityEdits = finalActionPlan.needsUnityEdits === true || finalActionPlan.needsUnityEdits === 'true';\n    }\n  }\n  // Convert needsBuild - handle string \"true\"/\"false\" or boolean\n  if (typeof finalActionPlan.needsBuild !== 'boolean') {\n    finalActionPlan.needsBuild = finalActionPlan.needsBuild === true || finalActionPlan.needsBuild === 'true';\n  }\n  // Convert needsDeploy - handle string \"true\"/\"false\" or boolean\n  if (typeof finalActionPlan.needsDeploy !== 'boolean') {\n    finalActionPlan.needsDeploy = finalActionPlan.needsDeploy === true || finalActionPlan.needsDeploy === 'true';\n  }\n}\n\n// Ensure shouldProceed is set - CRITICAL FIX: Recalculate AFTER fixing booleans\nlet shouldProceed = inputData.shouldProceed;\nif (shouldProceed === null || shouldProceed === undefined) {\n  // Calculate from actionPlan - ANY true value means proceed\n  shouldProceed = !!(finalActionPlan?.needsBuild || finalActionPlan?.needsUnityEdits || finalActionPlan?.needsDeploy);\n} else if (shouldProceed === false && finalActionPlan) {\n  // Recalculate if false but we have an actionPlan - might be wrong\n  shouldProceed = !!(finalActionPlan.needsBuild || finalActionPlan.needsUnityEdits || finalActionPlan.needsDeploy);\n}\n\nreturn {\n  json: {\n    ...inputData,\n    actionPlan: finalActionPlan,\n    shouldProceed: shouldProceed\n  }\n};"
      },
      "id": "merge-action-plans",
      "name": "Merge Action Plans",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get Git Variables - Preserves ALL data\nconst previousData = $input.item.json || {};\nconst repoUrl = $env.UNITY_REPO_URL || process.env.UNITY_REPO_URL || '';\nconst projectPath = $env.UNITY_PROJECT_PATH || process.env.UNITY_PROJECT_PATH || '';\nconst workflowPath = $env.WORKFLOW_PATH || process.env.WORKFLOW_PATH || '';\n\nreturn {\n  json: {\n    ...previousData,\n    repoUrl: repoUrl || '',\n    projectPath: projectPath || '',\n    workflowPath: workflowPath || '',\n    repoUrlSet: !!repoUrl && repoUrl.trim() !== '',\n    projectPathSet: !!projectPath && projectPath.trim() !== '',\n    workflowPathSet: !!workflowPath && workflowPath.trim() !== '',\n    error: (!repoUrl || !projectPath) ? 'Missing environment variables: UNITY_REPO_URL or UNITY_PROJECT_PATH' : null\n  }\n};"
      },
      "id": "get-git-variables",
      "name": "Get Git Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldProceed || false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-proceed",
      "name": "Should Proceed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1650,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Update/Clone Repo - Preserves ALL data\nconst data = $input.item.json || {};\nconst repoUrl = data.repoUrl || '';\nconst projectPath = data.projectPath || '';\n\nif (!repoUrl || !projectPath) {\n  return {\n    json: {\n      ...data,\n      success: false,\n      error: 'Missing repoUrl or projectPath',\n      action: 'skipped'\n    }\n  };\n}\n\ntry {\n  if (typeof $exec === 'undefined') {\n    return {\n      json: {\n        ...data,\n        success: false,\n        error: '$exec() not available',\n        action: 'error'\n      }\n    };\n  }\n  \n  const checkCmd = `test -d \"${projectPath}\" && echo \"exists\" || echo \"not_exists\"`;\n  const dirExists = $exec(checkCmd).stdout.trim() === 'exists';\n  \n  if (dirExists) {\n    const pullResult = $exec(`cd \"${projectPath}\" && git pull`);\n    return {\n      json: {\n        ...data,\n        success: pullResult.exitCode === 0,\n        action: 'pulled',\n        output: pullResult.stdout || '',\n        error: pullResult.stderr || ''\n      }\n    };\n  } else {\n    const parentDir = '/' + projectPath.split('/').slice(0, -1).join('/');\n    if (parentDir && parentDir !== '/') {\n      $exec(`mkdir -p \"${parentDir}\"`);\n    }\n    const cloneResult = $exec(`git clone \"${repoUrl}\" \"${projectPath}\"`);\n    return {\n      json: {\n        ...data,\n        success: cloneResult.exitCode === 0,\n        action: 'cloned',\n        output: cloneResult.stdout || '',\n        error: cloneResult.stderr || ''\n      }\n    };\n  }\n} catch (error) {\n  return {\n    json: {\n      ...data,\n      success: false,\n      error: error.message || 'Unknown error',\n      action: 'error'\n    }\n  };\n}"
      },
      "id": "clone-update-repo",
      "name": "Update/Clone Repo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.actionPlan?.needsUnityEdits || false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-unity-edits",
      "name": "Needs Unity Edits?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2050,
        400
      ]
    },
    {
      "parameters": {
        "command": "python3",
        "arguments": "={{ `${$json.workflowPath}/unity-ai-editor-PRODUCTION.py --project ${$json.projectPath} --request \"${$json.request}\" --actionPlan '${JSON.stringify($json.actionPlan)}'` }}",
        "options": {}
      },
      "id": "unity-ai-edits",
      "name": "AI Unity Editor Edits",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "command": "git",
        "arguments": "={{ `-C ${$json.projectPath} add -A && git -C ${$json.projectPath} commit -m \"AI automated edits: ${$json.request}\" || true` }}",
        "options": {}
      },
      "id": "git-commit",
      "name": "Commit Changes",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2450,
        400
      ]
    },
    {
      "parameters": {
        "command": "git",
        "arguments": "-C {{ $json.projectPath }} push origin main",
        "options": {}
      },
      "id": "git-push",
      "name": "Push to GitHub",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2650,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.actionPlan?.needsBuild || false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-needs-build",
      "name": "Needs Build?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2850,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/{{ $env.GITHUB_REPO_OWNER }}/{{ $env.GITHUB_REPO_NAME }}/actions/workflows/{{ $env.GITHUB_WORKFLOW_FILE }}/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-github-actions",
      "name": "Trigger GitHub Actions Build",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3050,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-actions-token",
          "name": "GitHub Actions Token"
        }
      }
    },
    {
      "parameters": {
        "command": "sleep",
        "arguments": "300",
        "options": {}
      },
      "id": "wait-for-build",
      "name": "Wait for Build (5 min)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3250,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.actionPlan?.needsDeploy || false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-needs-deploy",
      "name": "Needs Deploy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3450,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.netlify.com/api/v1/sites/{{ $env.NETLIFY_SITE_ID }}/deploys",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dir",
              "value": "{{ $env.BUILD_OUTPUT_PATH }}"
            }
          ]
        },
        "options": {}
      },
      "id": "netlify-api-deploy",
      "name": "Deploy to Netlify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3650,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "netlify-api-token",
          "name": "Netlify API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Compile Completion Report - PRODUCTION READY\nconst inputData = $input.item.json || {};\nlet actionPlan = inputData.actionPlan;\n\nif (!actionPlan || typeof actionPlan !== 'object' || Object.keys(actionPlan).length === 0) {\n  actionPlan = {\n    needsUnityEdits: false,\n    needsBuild: true,\n    needsDeploy: true,\n    estimatedTime: '15 minutes',\n    priority: 'medium'\n  };\n}\n\nlet request = inputData.request || 'Unknown request';\nlet triggerType = inputData.triggerType || 'unknown';\nconst shouldProceed = inputData.shouldProceed !== false;\nconst wasSkipped = !shouldProceed;\nconst netlifySiteName = $env.NETLIFY_SITE_NAME || process.env.NETLIFY_SITE_NAME || 'ballcode-game';\n\nreturn {\n  json: {\n    ...inputData,\n    status: wasSkipped ? 'skipped' : 'success',\n    timestamp: new Date().toISOString(),\n    request: request,\n    triggerType: triggerType,\n    actionPlan: actionPlan,\n    buildCompleted: !wasSkipped,\n    deployCompleted: !wasSkipped,\n    wasSkipped: wasSkipped,\n    siteUrl: `https://${netlifySiteName}.netlify.app`,\n    message: wasSkipped \n      ? 'Workflow skipped: No build, edits, or deploy needed based on action plan.'\n      : `Unity workflow completed successfully. Site: https://${netlifySiteName}.netlify.app`\n  }\n};"
      },
      "id": "compile-report",
      "name": "Compile Completion Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3850,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $env.WEBHOOK_NOTIFICATION_URL || '' }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-notification-url",
      "name": "Notification URL Set?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4050,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_NOTIFICATION_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "siteUrl",
              "value": "={{ $json.siteUrl }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4250,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4450,
        400
      ]
    }
  ],
  "connections": {
    "Scheduled Trigger (Every 6 Hours)": {
      "main": [
        [
          {
            "node": "Merge All Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger (Manual/API)": {
      "main": [
        [
          {
            "node": "Merge All Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Webhook (Code Changes)": {
      "main": [
        [
          {
            "node": "Merge All Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Triggers": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Has Provided ActionPlan?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Provided ActionPlan?": {
      "main": [
        [
          {
            "node": "AI Analyze Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Action Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyze Request": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Merge Action Plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Action Plans": {
      "main": [
        [
          {
            "node": "Get Git Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Git Variables": {
      "main": [
        [
          {
            "node": "Should Proceed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Proceed?": {
      "main": [
        [
          {
            "node": "Update/Clone Repo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compile Completion Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update/Clone Repo": {
      "main": [
        [
          {
            "node": "Needs Unity Edits?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Unity Edits?": {
      "main": [
        [
          {
            "node": "AI Unity Editor Edits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commit Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Unity Editor Edits": {
      "main": [
        [
          {
            "node": "Commit Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Changes": {
      "main": [
        [
          {
            "node": "Push to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to GitHub": {
      "main": [
        [
          {
            "node": "Needs Build?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Build?": {
      "main": [
        [
          {
            "node": "Trigger GitHub Actions Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger GitHub Actions Build": {
      "main": [
        [
          {
            "node": "Wait for Build (5 min)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Build (5 min)": {
      "main": [
        [
          {
            "node": "Needs Deploy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Deploy?": {
      "main": [
        [
          {
            "node": "Deploy to Netlify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy to Netlify": {
      "main": [
        [
          {
            "node": "Compile Completion Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Completion Report": {
      "main": [
        [
          {
            "node": "Notification URL Set?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification URL Set?": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-12-11T22:00:00.000Z",
  "versionId": "3",
  "active": false
}


