workflows/BallCODE-Book/n8n-discord-video-explainer.json
{
  "createdAt": "2025-09-17T18:05:23.321Z",
  "updatedAt": "2025-09-17T19:55:51.000Z",
  "id": "WCs5WS32DjABwUvy",
  "name": "Discord_Video_Explainer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "={{ $('Discord Webhook1').item.json.guild.id }}"
        },
        "channelId": {
          "mode": "id",
          "value": "={{ $('Discord Webhook1').item.json.channel.id }}"
        },
        "options": {}
      },
      "id": "2632e31d-a55e-47cb-aadb-81564e63154f",
      "name": "Send Analysis to Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1664,
        112
      ],
      "webhookId": "00c2fd19-6c54-4621-8d7c-afbbbca0d228"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-webhook",
        "options": {}
      },
      "id": "72f814ed-a1fe-4432-a951-483c4789eda6",
      "name": "Discord Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        992,
        112
      ],
      "webhookId": "12345678-90ab-cdef-1234-567890abcdef"
    },
    {
      "parameters": {
        "jsCode": "// Simple Discord Investment Intelligence Analysis\nconst messages = $input.all();\nconst processedMessages = [];\n\n// Investment keywords\nconst investmentKeywords = ['funding', 'round', 'series', 'seed', 'ipo', 'startup', 'unicorn', 'valuation', 'acquisition', 'merger'];\nconst sentimentPositive = ['bullish', 'moon', 'rocket', 'buy', 'pump', 'up', 'good', 'great'];\nconst sentimentNegative = ['bearish', 'dump', 'crash', 'sell', 'down', 'bad', 'terrible'];\nconst urgentWords = ['breaking', 'urgent', 'alert', 'news', 'confirmed'];\n\nfor (const message of messages) {\n  try {\n    const messageData = message.json;\n    const content = messageData.content || '';\n    const author = messageData.author || {};\n    const channel = messageData.channel || {};\n    \n    if (!content.trim()) continue;\n    \n    const lowerContent = content.toLowerCase();\n    \n    // Calculate relevance score\n    let relevanceScore = 0;\n    investmentKeywords.forEach(keyword => {\n      if (lowerContent.includes(keyword)) relevanceScore += 10;\n    });\n    \n    // Calculate sentiment\n    let sentimentScore = 0;\n    sentimentPositive.forEach(word => {\n      if (lowerContent.includes(word)) sentimentScore += 1;\n    });\n    sentimentNegative.forEach(word => {\n      if (lowerContent.includes(word)) sentimentScore -= 1;\n    });\n    \n    let sentiment = 'neutral';\n    if (sentimentScore > 0) sentiment = 'bullish';\n    else if (sentimentScore < 0) sentiment = 'bearish';\n    \n    // Check urgency\n    const isUrgent = urgentWords.some(word => lowerContent.includes(word));\n    \n    // Calculate overall score\n    let overallScore = relevanceScore;\n    if (isUrgent) overallScore += 20;\n    if (Math.abs(sentimentScore) >= 2) overallScore += 15;\n    \n    // Determine priority\n    let priority = 'low';\n    if (overallScore >= 40) priority = 'critical';\n    else if (overallScore >= 25) priority = 'high';\n    else if (overallScore >= 15) priority = 'medium';\n    \n    const processedMessage = {\n      timestamp: new Date().toISOString(),\n      author: author.username || 'unknown',\n      channel: channel.name || 'unknown',\n      content: content.substring(0, 300),\n      relevanceScore: relevanceScore,\n      sentiment: sentiment,\n      sentimentScore: sentimentScore,\n      isUrgent: isUrgent,\n      overallScore: overallScore,\n      priority: priority,\n      actionable: overallScore >= 25\n    };\n    \n    processedMessages.push(processedMessage);\n    \n  } catch (error) {\n    console.log('Error processing message:', error.message);\n  }\n}\n\nreturn processedMessages;"
      },
      "id": "dd418b13-f9ad-44cd-a405-e422078db621",
      "name": "Discord Intelligence Analysis1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3c4d5e6f-789a-01bc-def2-3456789012cd",
              "leftValue": "={{ $json.actionable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d02095cd-6071-4b28-b69c-b525d5ccb47e",
      "name": "Actionable Filter1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        112
      ]
    }
  ],
  "connections": {
    "Discord Webhook1": {
      "main": [
        [
          {
            "node": "Discord Intelligence Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Intelligence Analysis1": {
      "main": [
        [
          {
            "node": "Actionable Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actionable Filter1": {
      "main": [
        [
          {
            "node": "Send Analysis to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1e0ded8e-8629-476e-b648-5b777d91dffe",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-09-17T18:04:59.214Z",
      "updatedAt": "2025-09-17T18:04:59.214Z",
      "id": "CKyRKkJ7vf2pTlQL",
      "name": "lead-generation"
    }
  ],
  "shared": [
    {
      "createdAt": "2025-09-17T18:05:23.328Z",
      "updatedAt": "2025-09-17T18:05:23.328Z",
      "role": "workflow:owner",
      "workflowId": "WCs5WS32DjABwUvy",
      "projectId": "lVmmZnODJqQJNXjz",
      "project": {
        "createdAt": "2025-09-17T03:59:05.397Z",
        "updatedAt": "2025-09-17T04:23:11.972Z",
        "id": "lVmmZnODJqQJNXjz",
        "name": "Ra West <rashadlwest@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}