workflows/BallCODE-Book/n8n-school-outreach-automation-workflow.json
{
  "name": "School Outreach Automation - Pilot Program",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "school-outreach",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "school-outreach-pilot"
    },
    {
      "parameters": {
        "jsCode": "// Load school contacts from database\nconst fs = require('fs');\nconst path = require('path');\n\nconst dbPath = path.join(__dirname, '../documents/school-contacts-database.json');\nlet schoolDb = {};\n\ntry {\n  schoolDb = JSON.parse(fs.readFileSync(dbPath, 'utf8'));\n} catch (e) {\n  console.error('Error loading school database:', e);\n}\n\n// Get schools to contact\nconst status = $input.item.json.status || 'not_contacted';\nconst limit = $input.item.json.limit || 30;\n\nconst schools = schoolDb.schools\n  .filter(s => s.status === status)\n  .slice(0, limit);\n\nreturn schools.map(school => ({\n  json: school\n}));"
      },
      "id": "load-schools",
      "name": "Load School Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Personalize email with @AIMCODE messaging (@Chao Zhang story-first approach)\nconst school = $input.item.json;\nconst templates = require('../documents/promotion-content/email-templates.json');\n\n// Determine template type\nlet templateKey = 'cold_outreach';\nif (school.priority === 'high') {\n  templateKey = 'warm_contact';\n}\n\nconst template = templates[templateKey];\n\n// Personalize message\nconst personalizedBody = template.body_template\n  .replace(/{school_name}/g, school.name)\n  .replace(/{contact_name}/g, school.contact_name || 'Team')\n  .replace(/{specific_program}/g, school.stem_programs?.[0] || 'STEM programs')\n  .replace(/{email}/g, 'info@ballcode.co')\n  .replace(/{phone}/g, '');\n\nreturn {\n  json: {\n    ...school,\n    email_subject: template.subject.replace(/{school_name}/g, school.name),\n    email_body: personalizedBody,\n    email_preheader: template.preheader.replace(/{school_name}/g, school.name),\n    cta_text: template.cta,\n    cta_link: template.cta_link,\n    template_type: templateKey\n  }\n};"
      },
      "id": "personalize-email",
      "name": "Personalize Email (@AIMCODE)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mailchimpApi",
        "operation": "sendEmail",
        "listId": "={{ $env.MAILCHIMP_LIST_ID }}",
        "email": "={{ $json.email }}",
        "subject": "={{ $json.email_subject }}",
        "body": "={{ $json.email_body }}",
        "options": {
          "preheader": "={{ $json.email_preheader }}"
        }
      },
      "id": "send-mailchimp",
      "name": "Send via Mailchimp (@Launch)",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "mailchimpApi": {
          "id": "mailchimp-credentials",
          "name": "Mailchimp API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotApi",
        "resource": "contact",
        "operation": "create",
        "properties": {
          "email": "={{ $json.email }}",
          "firstname": "={{ $json.contact_name.split(' ')[0] }}",
          "lastname": "={{ $json.contact_name.split(' ').slice(1).join(' ') }}",
          "company": "={{ $json.name }}",
          "phone": "={{ $json.phone }}",
          "hs_lead_status": "NEW",
          "ballcode_school_id": "={{ $json.id }}",
          "ballcode_status": "contacted",
          "ballcode_priority": "={{ $json.priority }}"
        }
      },
      "id": "log-hubspot",
      "name": "Log to HubSpot (@Launch)",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot-credentials",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update school database with contacted status\nconst fs = require('fs');\nconst path = require('path');\n\nconst dbPath = path.join(__dirname, '../documents/school-contacts-database.json');\nlet schoolDb = {};\n\ntry {\n  schoolDb = JSON.parse(fs.readFileSync(dbPath, 'utf8'));\n} catch (e) {\n  console.error('Error loading school database:', e);\n}\n\n// Update school status\nconst schoolId = $input.item.json.id;\nconst school = schoolDb.schools.find(s => s.id === schoolId);\n\nif (school) {\n  school.status = 'contacted';\n  school.date_contacted = new Date().toISOString();\n  \n  // Save updated database\n  fs.writeFileSync(dbPath, JSON.stringify(schoolDb, null, 2));\n}\n\nreturn $input.item.json;"
      },
      "id": "update-database",
      "name": "Update Database",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "schedule-followup",
              "leftValue": "={{ $json.status }}",
              "rightValue": "contacted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "amount": 3
            }
          ]
        }
      },
      "id": "schedule-followup",
      "name": "Schedule Follow-up (@Garvis)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"schools_contacted\": $json.length, \"message\": \"Outreach completed\" } }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Load School Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load School Contacts": {
      "main": [
        [
          {
            "node": "Personalize Email (@AIMCODE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personalize Email (@AIMCODE)": {
      "main": [
        [
          {
            "node": "Send via Mailchimp (@Launch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Mailchimp (@Launch)": {
      "main": [
        [
          {
            "node": "Log to HubSpot (@Launch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to HubSpot (@Launch)": {
      "main": [
        [
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Database": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Schedule Follow-up (@Garvis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-21T00:00:00.000Z",
  "versionId": "1"
}

