workflows/BallCODE-Book/n8n-curriculum-sync-workflow.json
{  "name": "BallCODE Curriculum Schema Sync Workflow (Python Hybrid)",  "nodes": [    {      "parameters": {        "httpMethod": "POST",        "path": "curriculum-sync",        "responseMode": "responseNode"      },      "id": "webhook-trigger",      "name": "Webhook Trigger (Schema Change)",      "type": "n8n-nodes-base.webhook",      "typeVersion": 1,      "position": [250, 300],      "webhookId": "curriculum-sync-webhook"    },    {      "parameters": {        "jsCode": "// Normalize input and extract schema change data\nconst input = $input.item.json;\nconst body = input.body || {};\n\n// Extract schema change information\nconst changeType = body.changeType || body.type || 'modify'; // 'modify', 'newObjective', 'standardsUpdate'\nconst schemaChanges = body.schemaChanges || body.changes || {};\nconst learningObjective = body.learningObjective || null;\nconst standards = body.standards || {};\n\nreturn {\n  json: {\n    changeType: changeType,\n    schemaChanges: schemaChanges,\n    learningObjective: learningObjective,\n    standards: standards,\n    timestamp: new Date().toISOString(),\n    sessionId: body.sessionId || `curriculum-sync-${Date.now()}`\n  }\n};"      },      "id": "normalize-input",      "name": "Normalize Input & Extract Schema Changes",      "type": "n8n-nodes-base.code",      "typeVersion": 2,      "position": [450, 300]    },    {      "parameters": {        "jsCode": "// Prepare curriculum update data for Python script\nconst schemaChanges = $json.schemaChanges || {};\nconst learningObjective = $json.learningObjective;\nconst standards = $json.standards || {};\n\n// Build curriculum data object\nconst curriculumData = {\n  ...schemaChanges\n};\n\n// Add learning objectives if provided\nif (learningObjective) {\n  if (!curriculumData.learningObjectives) {\n    curriculumData.learningObjectives = [];\n  }\n  curriculumData.learningObjectives.push(learningObjective);\n}\n\n// Add standards if provided\nif (Object.keys(standards).length > 0) {\n  curriculumData.standards = {\n    ...(curriculumData.standards || {}),\n    ...standards\n  };\n}\n\n// Validate that we have something to update\nif (Object.keys(curriculumData).length === 0) {\n  return {\n    json: {\n      ...$json,\n      valid: false,\n      error: 'No curriculum changes provided',\n      proceed: false\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...$json,\n    curriculumData: curriculumData,\n    valid: true,\n    proceed: true,\n    validationMessage: 'Curriculum data prepared for update'\n  }\n};"      },      "id": "prepare-curriculum-data",      "name": "Prepare Curriculum Data for Update",      "type": "n8n-nodes-base.code",      "typeVersion": 2,      "position": [650, 300]    },    {      "parameters": {        "command": "={{ `python3 ${$env.WORKFLOW_PATH}/scripts/n8n-update-schema.py --type curriculum --data '${JSON.stringify($json.curriculumData)}'` }}"      },      "id": "execute-python-curriculum-update",      "name": "Execute Python: Update Curriculum (HYBRID)",      "type": "n8n-nodes-base.executeCommand",      "typeVersion": 1,      "position": [850, 300]    },    {      "parameters": {        "jsCode": "// Parse Python curriculum update output\nconst input = $input.item.json;\nconst pythonOutput = input.stdout || input.stderr || JSON.stringify(input);\n\nlet schemaResult;\ntry {\n  schemaResult = typeof pythonOutput === 'string' ? JSON.parse(pythonOutput.trim()) : pythonOutput;\n} catch (e) {\n  schemaResult = {\n    status: 'error',\n    message: `Failed to parse Python output: ${e.message}`,\n    raw_output: pythonOutput\n  };\n}\n\n// Load schema for downstream nodes (if needed)\n// Note: Schema is already updated by Python script, but we may need to reference it\nconst curriculumSchema = {\n  metadata: {\n    lastUpdated: new Date().toISOString(),\n    version: 'updated'\n  }\n};\n\nreturn {\n  json: {\n    ...$('Prepare Curriculum Data for Update').item.json,\n    schemaUpdateResult: schemaResult,\n    curriculumSchema: curriculumSchema,\n    schemaPath: `${$env.WORKFLOW_PATH}/CURRICULUM-DATA-EXAMPLE.json`,\n    valid: schemaResult.status === 'success',\n    proceed: schemaResult.status === 'success',\n    validationMessage: schemaResult.status === 'success' ? 'Curriculum schema updated successfully' : `Update failed: ${schemaResult.message}`\n  }\n};"      },      "id": "parse-curriculum-update",      "name": "Parse Curriculum Update Result (HYBRID)",      "type": "n8n-nodes-base.code",      "typeVersion": 2,      "position": [1050, 300]    },    {      "parameters": {        "conditions": {          "boolean": [            {              "value1": "={{ $json.proceed }}",              "value2": true            }          ]        }      },      "id": "check-validation",      "name": "Schema Valid?",      "type": "n8n-nodes-base.if",      "typeVersion": 1,      "position": [850, 300]    },    {      "parameters": {        "resource": "chat",        "operation": "create",        "model": "gpt-4",        "options": {          "temperature": 0.2,          "maxTokens": 3000        },        "messages": {          "values": [            {              "role": "system",              "content": "You are a Unity game development expert. Update game exercise configurations to match curriculum schema changes. Ensure game exercises align with learning objectives and curriculum standards."            },            {              "role": "user",              "content": "Schema Update Status: {{ $json.schemaUpdateResult?.status || 'unknown' }}\n\nChange Type: {{ $('Normalize Input & Extract Schema Changes').item.json.changeType }}\n\nLearning Objective: {{ JSON.stringify($('Normalize Input & Extract Schema Changes').item.json.learningObjective) }}\n\nStandards: {{ JSON.stringify($('Normalize Input & Extract Schema Changes').item.json.standards) }}\n\nUpdate game exercise configurations:\n1. Update exercise difficulty levels to match curriculum\n2. Update exercise descriptions to match learning objectives\n3. Update exercise success criteria\n4. Ensure exercises align with curriculum standards\n5. Update exercise progression paths\n\nReturn JSON with:\n- exerciseConfigs: [{ exerciseId, difficulty, description, successCriteria, standards }]\n- levelFiles: [{ file: string, json: object }]\n- progressionPaths: [{ fromExercise: string, toExercise: string, requirements: [] }]\n\nFormat as valid JSON only."            }          ]        }      },      "id": "update-game-configs",      "name": "Update Game Exercise Configurations (AI)",      "type": "n8n-nodes-base.openAi",      "typeVersion": 1.1,      "position": [1050, 200],      "credentials": {        "openAiApi": {          "id": "openai-credentials",          "name": "OpenAI API"        }      }    },    {      "parameters": {        "resource": "chat",        "operation": "create",        "model": "gpt-4",        "options": {          "temperature": 0.3,          "maxTokens": 3000        },        "messages": {          "values": [            {              "role": "system",              "content": "You are a children's book author and educational content creator. Update book learning sections to match curriculum schema changes. Ensure book content reflects updated learning objectives and curriculum standards."            },            {              "role": "user",              "content": "Schema Update Status: {{ $json.schemaUpdateResult?.status || 'unknown' }}\n\nChange Type: {{ $('Normalize Input & Extract Schema Changes').item.json.changeType }}\n\nLearning Objective: {{ JSON.stringify($('Normalize Input & Extract Schema Changes').item.json.learningObjective) }}\n\nStandards: {{ JSON.stringify($('Normalize Input & Extract Schema Changes').item.json.standards) }}\n\nUpdate book learning sections:\n1. Update 'What You're Learning' sections\n2. Update learning objectives display\n3. Update curriculum connection sections\n4. Update assessment criteria\n5. Ensure book content matches curriculum standards\n\nReturn JSON with:\n- bookUpdates: [{ bookId, learningSection: {}, curriculumConnection: {} }]\n- learningObjectives: [{ objective: string, gradeLevels: [], standards: [] }]\n- assessmentCriteria: [{ criterion: string, description: string }]\n\nFormat as valid JSON only."            }          ]        }      },      "id": "update-book-metadata",      "name": "Update Book Learning Sections (AI)",      "type": "n8n-nodes-base.openAi",      "typeVersion": 1.1,      "position": [1050, 300],      "credentials": {        "openAiApi": {          "id": "openai-credentials",          "name": "OpenAI API"        }      }    },    {      "parameters": {        "resource": "chat",        "operation": "create",        "model": "gpt-4",        "options": {          "temperature": 0.2,          "maxTokens": 3000        },        "messages": {          "values": [            {              "role": "system",              "content": "You are a web developer and UX designer. Update website curriculum pathways to reflect curriculum schema changes. Ensure website displays updated learning objectives, standards, and progression paths."            },            {              "role": "user",              "content": "Schema Update Status: {{ $json.schemaUpdateResult?.status || 'unknown' }}\n\nChange Type: {{ $('Normalize Input & Extract Schema Changes').item.json.changeType }}\n\nLearning Objective: {{ JSON.stringify($('Normalize Input & Extract Schema Changes').item.json.learningObjective) }}\n\nStandards: {{ JSON.stringify($('Normalize Input & Extract Schema Changes').item.json.standards) }}\n\nUpdate website curriculum display:\n1. Update curriculum pathway pages\n2. Update learning objectives display\n3. Update standards indicators\n4. Update progression visualizations\n5. Update grade level filters\n\nReturn JSON with:\n- htmlFiles: [{ path: string, content: string }]\n- curriculumPathway: { html: string, css: string, js: string }\n- learningObjectivesDisplay: { html: string, data: [] }\n- standardsDisplay: { html: string, data: [] }\n\nFormat as valid JSON only."            }          ]        }      },      "id": "update-website-curriculum",      "name": "Update Website Curriculum Display (AI)",      "type": "n8n-nodes-base.openAi",      "typeVersion": 1.1,      "position": [1050, 400],      "credentials": {        "openAiApi": {          "id": "openai-credentials",          "name": "OpenAI API"        }      }    },    {      "parameters": {        "jsCode": "// Merge all updates and verify integration\nconst gameConfigs = $('Update Game Exercise Configurations (AI)').item?.json?.choices?.[0]?.message?.content || null;\nconst bookUpdates = $('Update Book Learning Sections (AI)').item?.json?.choices?.[0]?.message?.content || null;\nconst websiteUpdates = $('Update Website Curriculum Display (AI)').item?.json?.choices?.[0]?.message?.content || null;\nconst schemaResult = $('Parse Curriculum Update Result (HYBRID)').item.json.schemaUpdateResult;\n\n// Parse updates\nlet parsedGame = null;\nlet parsedBook = null;\nlet parsedWebsite = null;\n\nif (gameConfigs) {\n  try {\n    const jsonMatch = gameConfigs.match(/\\{[\\s\\S]*\\}/);\n    parsedGame = JSON.parse(jsonMatch ? jsonMatch[0] : gameConfigs);\n  } catch (e) {}\n}\n\nif (bookUpdates) {\n  try {\n    const jsonMatch = bookUpdates.match(/\\{[\\s\\S]*\\}/);\n    parsedBook = JSON.parse(jsonMatch ? jsonMatch[0] : bookUpdates);\n  } catch (e) {}\n}\n\nif (websiteUpdates) {\n  try {\n    const jsonMatch = websiteUpdates.match(/\\{[\\s\\S]*\\}/);\n    parsedWebsite = JSON.parse(jsonMatch ? jsonMatch[0] : websiteUpdates);\n  } catch (e) {}\n}\n\n// Verify integration points\nconst integrationVerification = {\n  curriculumSchema: {\n    status: 'updated',\n    path: $('Parse Curriculum Update Result (HYBRID)').item.json.schemaPath,    message: schemaResult.message || ''\n  },\n  gameConfigs: {\n    status: parsedGame ? 'updated' : 'skipped',\n    exercisesUpdated: parsedGame?.exerciseConfigs?.length || 0\n  },\n  bookMetadata: {\n    status: parsedBook ? 'updated' : 'skipped',\n    booksUpdated: parsedBook?.bookUpdates?.length || 0\n  },\n  websiteCurriculum: {\n    status: parsedWebsite ? 'updated' : 'skipped',\n    filesUpdated: parsedWebsite?.htmlFiles?.length || 0\n  },\n  allSystemsSynced: !!(parsedGame && parsedBook && parsedWebsite)\n};\n\n// Compile verification report\nconst verificationReport = {\n  status: 'success',\n  timestamp: new Date().toISOString(),\n  changeType: $('Normalize Input & Extract Schema Changes').item.json.changeType,\n  integrationVerification: integrationVerification,\n  updates: {\n    game: parsedGame,\n    book: parsedBook,\n    website: parsedWebsite\n  },\n  nextSteps: [\n    'Review generated game configurations',\n    'Review book learning section updates',\n    'Deploy website curriculum updates',\n    'Test integration across all systems'\n  ]\n};\n\nreturn {\n  json: {\n    ...$('Parse Curriculum Update Result (HYBRID)').item.json,\n    gameConfigs: parsedGame,\n    bookUpdates: parsedBook,\n    websiteUpdates: parsedWebsite,\n    verificationReport: verificationReport,\n    readyForResponse: true\n  }\n};"      },      "id": "verify-integration",      "name": "Verify Integration & Merge Updates",      "type": "n8n-nodes-base.code",      "typeVersion": 2,      "position": [1250, 300]    },    {      "parameters": {        "respondWith": "json",        "responseBody": "={{ $json.verificationReport }}"      },      "id": "webhook-response",      "name": "Webhook Response (Verification Report)",      "type": "n8n-nodes-base.respondToWebhook",      "typeVersion": 1,      "position": [1450, 300]    }  ],  "connections": {    "Webhook Trigger (Schema Change)": {      "main": [        [          {            "node": "Normalize Input & Extract Schema Changes",            "type": "main",            "index": 0          }        ]      ]    },    "Normalize Input & Extract Schema Changes": {      "main": [        [          {            "node": "Prepare Curriculum Data for Update",            "type": "main",            "index": 0          }        ]      ]    },    "Prepare Curriculum Data for Update": {      "main": [        [          {            "node": "Execute Python: Update Curriculum (HYBRID)",            "type": "main",            "index": 0          }        ]      ]    },    "Execute Python: Update Curriculum (HYBRID)": {      "main": [        [          {            "node": "Parse Curriculum Update Result (HYBRID)",            "type": "main",            "index": 0          }        ]      ]    },    "Parse Curriculum Update Result (HYBRID)": {      "main": [        [          {            "node": "Schema Valid?",            "type": "main",            "index": 0          }        ]      ]    },    "Schema Valid?": {      "main": [        [          {            "node": "Update Game Exercise Configurations (AI)",            "type": "main",            "index": 0          },          {            "node": "Update Book Learning Sections (AI)",            "type": "main",            "index": 0          },          {            "node": "Update Website Curriculum Display (AI)",            "type": "main",            "index": 0          }        ],        [          {            "node": "Webhook Response (Verification Report)",            "type": "main",            "index": 0          }        ]      ]    },    "Update Game Exercise Configurations (AI)": {      "main": [        [          {            "node": "Verify Integration & Merge Updates",            "type": "main",            "index": 0          }        ]      ]    },    "Update Book Learning Sections (AI)": {      "main": [        [          {            "node": "Verify Integration & Merge Updates",            "type": "main",            "index": 0          }        ]      ]    },    "Update Website Curriculum Display (AI)": {      "main": [        [          {            "node": "Verify Integration & Merge Updates",            "type": "main",            "index": 0          }        ]      ]    },    "Verify Integration & Merge Updates": {      "main": [        [          {            "node": "Webhook Response (Verification Report)",            "type": "main",            "index": 0          }        ]      ]    }  },  "pinData": {},  "settings": {    "executionOrder": "v1"  },  "staticData": null,  "tags": [],  "triggerCount": 1,  "updatedAt": "2025-12-14T22:00:00.000Z",  "createdAt": "2025-12-14T22:00:00.000Z",  "id": "curriculum-sync-workflow",  "active": false,  "isArchived": false,  "versionId": "1"}