workflows/BallCODE-Book/n8n-unity-automation-workflow-AIMCODE-OPTIMIZED.json
{
  "name": "Unity AI Automation - AIMCODE Optimized (All Workarounds Applied)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ],
          "triggerAtMinute": 0
        }
      },
      "id": "scheduled-trigger",
      "name": "Scheduled Trigger (Every 6 Hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "unity-dev",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger (Manual/API)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "unity-dev-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-webhook",
        "responseMode": "responseNode"
      },
      "id": "github-webhook-trigger",
      "name": "GitHub Webhook (Code Changes)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 700],
      "webhookId": "github-unity-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Input - PRESERVE ALL DATA\nconst inputData = $input.item.json || {};\nconst body = inputData.body || {};\nconst directData = inputData.request ? inputData : {};\n\nlet request = directData.request || body.request || inputData.request || body.head_commit?.message || 'Automated build from scheduled trigger';\nlet triggerType = directData.triggerType || body.triggerType || inputData.triggerType;\n\nif (!triggerType) {\n  if (body.ref || inputData.ref) {\n    triggerType = 'github';\n  } else if (request !== 'Automated build from scheduled trigger') {\n    triggerType = 'webhook';\n  } else {\n    triggerType = 'scheduled';\n  }\n}\n\nreturn {\n  json: {\n    ...inputData,\n    ...body,\n    ...directData,\n    request: request,\n    triggerType: triggerType,\n    timestamp: new Date().toISOString(),\n    branch: (body.ref || inputData.ref) ? (body.ref || inputData.ref).replace('refs/heads/', '') : (body.branch || directData.branch || 'main'),\n    commitMessage: body.head_commit?.message || body.commitMessage || directData.commitMessage || 'Scheduled build'\n  }\n};"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4",
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a Unity development assistant. Analyze development requests and create a structured action plan with specific Unity edits needed."
            },
            {
              "role": "user",
              "content": "Analyze this Unity development request and create a JSON action plan:\n\nRequest: {{ $json.request || 'No request provided' }}\n\nReturn JSON with:\n- needsUnityEdits: boolean (does this require Unity Editor changes?)\n- unityEdits: array of {file: string, action: string, changes: string}\n- needsBuild: boolean\n- needsDeploy: boolean\n- estimatedTime: string\n- priority: string (low/medium/high)\n\nFormat as valid JSON only."
            }
          ]
        }
      },
      "id": "ai-analyze",
      "name": "AI Analyze Request",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [650, 500],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Response - PRESERVE ALL DATA\nconst data = $input.item.json || {};\nconst aiResponse = data.choices?.[0]?.message?.content || '{}';\nlet actionPlan;\n\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  actionPlan = JSON.parse(jsonMatch ? jsonMatch[0] : aiResponse);\n} catch (e) {\n  actionPlan = {\n    needsUnityEdits: false,\n    needsBuild: true,\n    needsDeploy: true,\n    estimatedTime: '15 minutes',\n    priority: 'medium'\n  };\n}\n\nconst shouldProceed = actionPlan.needsBuild || actionPlan.needsUnityEdits || actionPlan.needsDeploy;\n\nif (!shouldProceed) {\n  return {\n    json: {\n      ...data,\n      actionPlan: actionPlan,\n      shouldProceed: false,\n      status: 'skipped',\n      reason: 'No action needed'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...data,\n    actionPlan: actionPlan,\n    shouldProceed: true,\n    needsUnityEdits: actionPlan.needsUnityEdits,\n    needsBuild: actionPlan.needsBuild,\n    needsDeploy: actionPlan.needsDeploy\n  }\n};"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "jsCode": "// Get Git Variables - PRESERVE ALL DATA\nconst data = $input.item.json || {};\nlet repoUrl = $env.UNITY_REPO_URL || process.env.UNITY_REPO_URL || '';\nlet projectPath = $env.UNITY_PROJECT_PATH || process.env.UNITY_PROJECT_PATH || '';\n\nif (!repoUrl || repoUrl.trim() === '') {\n  return {\n    json: {\n      ...data,\n      repoUrl: '',\n      projectPath: projectPath.trim() || '',\n      repoUrlSet: false,\n      projectPathSet: !!projectPath,\n      error: 'UNITY_REPO_URL environment variable is not set.'\n    }\n  };\n}\n\nif (!projectPath || projectPath.trim() === '') {\n  return {\n    json: {\n      ...data,\n      repoUrl: repoUrl.trim(),\n      projectPath: '',\n      repoUrlSet: true,\n      projectPathSet: false,\n      error: 'UNITY_PROJECT_PATH environment variable is not set.'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...data,\n    repoUrl: repoUrl.trim(),\n    projectPath: projectPath.trim(),\n    repoUrlSet: true,\n    projectPathSet: true,\n    error: null\n  }\n};"
      },
      "id": "get-git-vars",
      "name": "Get Git Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "// Clone/Update Repository - Code Node (WORKAROUND for executeCommand)\nconst data = $input.item.json || {};\nconst repoUrl = data.repoUrl || '';\nconst projectPath = data.projectPath || '';\n\nif (!repoUrl || !projectPath) {\n  return {\n    json: {\n      ...data,\n      success: false,\n      error: 'Missing repoUrl or projectPath',\n      action: 'skipped'\n    }\n  };\n}\n\n// Try $exec() if available\nif (typeof $exec !== 'undefined') {\n  try {\n    const checkResult = $exec(`test -d \"${projectPath}\" && echo \"exists\" || echo \"not_exists\"`);\n    const dirExists = checkResult.stdout.trim() === 'exists';\n    \n    if (dirExists) {\n      const pullResult = $exec(`cd \"${projectPath}\" && git pull`);\n      return {\n        json: {\n          ...data,\n          success: pullResult.exitCode === 0,\n          action: 'pulled',\n          output: pullResult.stdout || '',\n          error: pullResult.stderr || '',\n          exitCode: pullResult.exitCode\n        }\n      };\n    } else {\n      const cloneResult = $exec(`git clone \"${repoUrl}\" \"${projectPath}\"`);\n      return {\n        json: {\n          ...data,\n          success: cloneResult.exitCode === 0,\n          action: 'cloned',\n          output: cloneResult.stdout || '',\n          error: cloneResult.stderr || '',\n          exitCode: cloneResult.exitCode\n        }\n      };\n    }\n  } catch (error) {\n    return {\n      json: {\n        ...data,\n        success: false,\n        error: error.message || 'Unknown error',\n        action: 'error'\n      }\n    };\n  }\n} else {\n  // Fallback: Return command for executeCommand node\n  return {\n    json: {\n      ...data,\n      needsExecuteCommand: true,\n      gitCommand: `if [ -d \"${projectPath}\" ]; then cd \"${projectPath}\" && git pull; else git clone \"${repoUrl}\" \"${projectPath}\"; fi`\n    }\n  };\n}"
      },
      "id": "git-clone-update",
      "name": "Clone/Update Repository",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Get Git Variables').item.json.needsUnityEdits }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-unity-edits",
      "name": "Needs Unity Edits?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "command": "={{ `bash -c 'timeout 300 python3 \"${$env.WORKFLOW_PATH}/unity-ai-editor.py\" --project \"${$('Get Git Variables').item.json.projectPath}\" --request \"${$('Normalize Input').item.json.request}\" || { echo \"Unity edits failed\"; exit 1; }'` }}",
        "options": {}
      },
      "id": "unity-ai-edits",
      "name": "AI Unity Editor Edits",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Commit & Push Changes - Code Node (WORKAROUND for executeCommand)\nconst data = $input.item.json || {};\nconst projectPath = data.projectPath || '';\nconst branch = data.branch || 'main';\nconst request = $('Normalize Input').item.json.request || 'Automated changes';\n\nif (!projectPath) {\n  return {\n    json: {\n      ...data,\n      success: false,\n      error: 'projectPath missing',\n      action: 'skipped'\n    }\n  };\n}\n\n// Check if should proceed\nif (data.actionPlan?.shouldProceed !== true || \n    data.actionPlan?.status === 'skipped' ||\n    !data.repoUrlSet || !data.projectPathSet) {\n  return {\n    json: {\n      ...data,\n      success: true,\n      action: 'skipped',\n      message: 'Conditions not met for commit'\n    }\n  };\n}\n\n// Use $exec() if available\nif (typeof $exec !== 'undefined') {\n  try {\n    // Check for changes\n    const statusResult = $exec(`cd \"${projectPath}\" && git status --porcelain`);\n    if (!statusResult.stdout.trim()) {\n      return {\n        json: {\n          ...data,\n          success: true,\n          action: 'skipped',\n          message: 'No changes to commit'\n        }\n      };\n    }\n    \n    // Add, commit, push\n    $exec(`cd \"${projectPath}\" && git add -A`);\n    const commitResult = $exec(`cd \"${projectPath}\" && git commit -m \"AI automated edits: ${request.replace(/\"/g, '\\\\\"')}\"`);\n    const pushResult = $exec(`cd \"${projectPath}\" && git push origin \"${branch}\"`);\n    \n    return {\n      json: {\n        ...data,\n        success: pushResult.exitCode === 0,\n        action: 'committed_and_pushed',\n        commitOutput: commitResult.stdout || '',\n        pushOutput: pushResult.stdout || '',\n        error: pushResult.stderr || ''\n      }\n    };\n  } catch (error) {\n    return {\n      json: {\n        ...data,\n        success: false,\n        error: error.message || 'Unknown error',\n        action: 'error'\n      }\n    };\n  }\n} else {\n  // Fallback: Return command for executeCommand\n  return {\n    json: {\n      ...data,\n      needsExecuteCommand: true,\n      gitCommand: `cd \"${projectPath}\" && git add -A && git commit -m \"AI automated edits: ${request}\" && git push origin \"${branch}\"`\n    }\n  };\n}"
      },
      "id": "git-commit-push",
      "name": "Commit & Push Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Get Git Variables').item.json.needsBuild }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-needs-build",
      "name": "Needs Build?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2050, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://api.github.com/repos/${$env.GITHUB_REPO_OWNER}/${$env.GITHUB_REPO_NAME}/actions/workflows/${$env.GITHUB_WORKFLOW_FILE}/dispatches` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"ref\":\"main\"}",
        "options": {
          "headers": {
            "Accept": "application/vnd.github.v3+json"
          }
        }
      },
      "id": "trigger-github-actions",
      "name": "Trigger GitHub Actions Build",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-actions-token",
          "name": "GitHub Actions Token"
        }
      }
    },
    {
      "parameters": {
        "command": "sleep",
        "arguments": "300",
        "options": {}
      },
      "id": "wait-for-build",
      "name": "Wait for Build (5 min)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Get Git Variables').item.json.needsDeploy }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-needs-deploy",
      "name": "Needs Deploy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://api.netlify.com/api/v1/sites/${$env.NETLIFY_SITE_ID}/deploys` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ `{\"dir\":\"${$env.BUILD_OUTPUT_PATH}\"}` }}",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "netlify-api-deploy",
      "name": "Deploy to Netlify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "netlify-api-token",
          "name": "Netlify API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Finalize & Prepare Report - PRESERVE ALL DATA\nconst data = $input.item.json || {};\nconst request = $('Normalize Input').item.json.request || 'Unknown';\nconst actionPlan = $('Get Git Variables').item.json.actionPlan || {};\nconst triggerType = $('Normalize Input').item.json.triggerType || 'unknown';\n\nreturn {\n  json: {\n    ...data,\n    status: 'success',\n    timestamp: new Date().toISOString(),\n    request: request,\n    triggerType: triggerType,\n    actionPlan: actionPlan,\n    buildCompleted: true,\n    deployCompleted: true,\n    siteUrl: `https://${$env.NETLIFY_SITE_NAME || 'ballcode-game'}.netlify.app`,\n    message: `Unity workflow completed successfully. Site: https://${$env.NETLIFY_SITE_NAME || 'ballcode-game'}.netlify.app`,\n    hasNotificationURL: !!$env.WEBHOOK_NOTIFICATION_URL,\n    isWebhookTrigger: triggerType === 'webhook' || triggerType === 'github'\n  }\n};"
      },
      "id": "finalize-report",
      "name": "Finalize & Prepare Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasNotificationURL }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-notification",
      "name": "Send Notification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_NOTIFICATION_URL || '' }}",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Finalize & Prepare Report').item.json.isWebhookTrigger }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-webhook-response",
      "name": "Webhook Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Finalize & Prepare Report').item.json }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.repoUrlSet && $json.projectPathSet && !$json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "should-clone-repo",
      "name": "Should Clone Repository?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.repoUrlSet && $json.projectPathSet && !$json.error && $json.actionPlan?.shouldProceed !== false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "should-commit-push",
      "name": "Should Commit & Push?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 400]
    }
  ],
  "connections": {
    "Scheduled Trigger (Every 6 Hours)": {
      "main": [[{"node": "Normalize Input", "type": "main", "index": 0}]]
    },
    "Webhook Trigger (Manual/API)": {
      "main": [[{"node": "Normalize Input", "type": "main", "index": 0}]]
    },
    "GitHub Webhook (Code Changes)": {
      "main": [[{"node": "Normalize Input", "type": "main", "index": 0}]]
    },
    "Normalize Input": {
      "main": [[{"node": "AI Analyze Request", "type": "main", "index": 0}]]
    },
    "AI Analyze Request": {
      "main": [[{"node": "Parse AI Response", "type": "main", "index": 0}]]
    },
    "Parse AI Response": {
      "main": [[{"node": "Get Git Variables", "type": "main", "index": 0}]]
    },
    "Get Git Variables": {
      "main": [[{"node": "Should Clone Repository?", "type": "main", "index": 0}]]
    },
    "Clone/Update Repository": {
      "main": [[{"node": "Needs Unity Edits?", "type": "main", "index": 0}]]
    },
    "Needs Unity Edits?": {
      "main": [
        [{"node": "AI Unity Editor Edits", "type": "main", "index": 0}],
        [{"node": "Should Commit & Push?", "type": "main", "index": 0}]
      ]
    },
    "AI Unity Editor Edits": {
      "main": [[{"node": "Should Commit & Push?", "type": "main", "index": 0}]]
    },
    "Commit & Push Changes": {
      "main": [[{"node": "Needs Build?", "type": "main", "index": 0}]]
    },
    "Needs Build?": {
      "main": [[{"node": "Trigger GitHub Actions Build", "type": "main", "index": 0}]]
    },
    "Trigger GitHub Actions Build": {
      "main": [[{"node": "Wait for Build (5 min)", "type": "main", "index": 0}]]
    },
    "Wait for Build (5 min)": {
      "main": [[{"node": "Needs Deploy?", "type": "main", "index": 0}]]
    },
    "Needs Deploy?": {
      "main": [[{"node": "Deploy to Netlify", "type": "main", "index": 0}]]
    },
    "Deploy to Netlify": {
      "main": [[{"node": "Finalize & Prepare Report", "type": "main", "index": 0}]]
    },
    "Finalize & Prepare Report": {
      "main": [[{"node": "Send Notification?", "type": "main", "index": 0}]]
    },
    "Send Notification?": {
      "main": [
        [{"node": "Send Notification", "type": "main", "index": 0}],
        [{"node": "Webhook Response?", "type": "main", "index": 0}]
      ]
    },
    "Send Notification": {
      "main": [[{"node": "Webhook Response?", "type": "main", "index": 0}]]
    },
    "Webhook Response?": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    },
    "Should Clone Repository?": {
      "main": [
        [{"node": "Clone/Update Repository", "type": "main", "index": 0}],
        [{"node": "Needs Unity Edits?", "type": "main", "index": 0}]
      ]
    },
    "Should Commit & Push?": {
      "main": [
        [{"node": "Commit & Push Changes", "type": "main", "index": 0}],
        [{"node": "Needs Build?", "type": "main", "index": 0}]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-12-11T18:00:00.000Z",
  "versionId": "5"
}

