workflows/BallCODE-Book/_exports/BallCODE-Orchestrator-WORKING-CLONE-PI-EXPORT.json
[{"updatedAt":"2025-12-15T16:17:12.413Z","createdAt":"2025-12-14T04:39:59.857Z","id":"a08262f3-c606-4c71-951d-9a9ba4cefbe7","name":"BallCODE Orchestrator (WORKING CLONE)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"df9919f0-45c2-4017-910f-f1a4aa0943dd","name":"Scheduled Trigger (Hourly) [DISABLED ON DEV]","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[5472,1136],"disabled":true},{"parameters":{"httpMethod":"POST","path":"unity-build","options":{}},"id":"3dc05544-e871-4338-a440-695f9f0085c7","name":"Webhook Trigger (Manual/API)","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[5472,1328],"webhookId":"7ebcd372-4ea7-40fd-83e2-4e54ac8b2410","disabled":true},{"parameters":{"jsCode":"// L1 (Foundation): normalize trigger input\nconst input = $input.item.json;\nconst body = input.body || {};\n\nconst isWebhook = !!(body && (body.request || body.message || body.prompt || body.branch));\nconst triggerType = isWebhook ? 'webhook' : 'scheduled';\n\nconst request = String(body.request || body.message || body.prompt || 'Scheduled build');\nconst branch = String(body.branch || (body.ref ? String(body.ref).replace('refs/heads/', '') : 'main'));\n\nreturn {\n  json: {\n    request,\n    branch,\n    triggerType,\n    isWebhook,\n    timestamp: new Date().toISOString(),\n    proceed: true\n  }\n};"},"id":"dd553833-206e-4ee4-98f3-20a9690064c6","name":"Normalize Input (AIMCODE L1)","type":"n8n-nodes-base.code","typeVersion":2,"position":[5760,1232],"disabled":true},{"parameters":{"jsCode":"// L1 (Foundation): env/credential preflight + DEV guardrails\n// Guardrail goal: prevent the Mac instance from accidentally running scheduled builds.\n//\n// Set on Mac:\n// - N8N_INSTANCE_ROLE=dev\n//\n// Set on Pi/prod:\n// - N8N_INSTANCE_ROLE=prod\n//\n// Override (if you really want scheduled builds on dev):\n// - ALLOW_SCHEDULED_BUILDS=1\n\nconst requiredEnv = [\n  'GITHUB_REPO_OWNER',\n  'GITHUB_REPO_NAME',\n  'GITHUB_WORKFLOW_FILE',\n  'NETLIFY_SITE_ID'\n];\n\nconst missing = requiredEnv.filter((k) => !($env[k] || '').toString().trim());\nif (missing.length) {\n  return {\n    json: {\n      ...$json,\n      proceed: false,\n      status: 'fail',\n      error: `Missing required env var(s): ${missing.join(', ')}`,\n    }\n  };\n}\n\nconst role = ($env.N8N_INSTANCE_ROLE || 'dev').toString().trim().toLowerCase();\nconst allowScheduled = ($env.ALLOW_SCHEDULED_BUILDS || '').toString().trim() === '1';\n\n// Block scheduled trigger on dev by default.\nif ($json.triggerType === 'scheduled' && role !== 'prod' && !allowScheduled) {\n  return {\n    json: {\n      ...$json,\n      proceed: false,\n      status: 'skipped',\n      skipReason: `Scheduled builds are blocked on ${role}. Set N8N_INSTANCE_ROLE=prod (recommended only on Pi) or set ALLOW_SCHEDULED_BUILDS=1 to override.`,\n      instanceRole: role,\n      allowScheduled\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...$json,\n    proceed: true,\n    instanceRole: role,\n    allowScheduled\n  }\n};"},"id":"091d4c0e-3705-428b-b93f-90ce4c80e16b","name":"Env Preflight + Dev Guardrails (AIMCODE L1)","type":"n8n-nodes-base.code","typeVersion":2,"position":[6000,1232],"disabled":true},{"parameters":{"jsCode":"// L1 (Foundation): overlap prevention via workflow static data lock (TTL)\nconst MAX_LOCK_SECONDS = 55 * 60; // fits hourly schedule\nconst nowMs = Date.now();\n\nlet staticData;\ntry {\n  staticData = $getWorkflowStaticData('global');\n} catch (e) {\n  // If static data isn't available (manual test), proceed without lock\n  return { json: { ...$json, lock: { enabled: false, reason: 'staticData unavailable' }, proceed: true } };\n}\n\nconst lockUntilMs = Number(staticData.lockUntilMs || 0);\nconst lockOwner = String(staticData.lockOwner || '');\n\nif (lockUntilMs && nowMs < lockUntilMs) {\n  return {\n    json: {\n      ...$json,\n      proceed: false,\n      status: 'skipped',\n      skipReason: `Locked until ${new Date(lockUntilMs).toISOString()} (owner=${lockOwner})`,\n      lock: { enabled: true, acquired: false, lockUntilMs, lockOwner }\n    }\n  };\n}\n\nconst owner = `${$json.triggerType}:${$json.branch}:${$json.timestamp}`;\nstaticData.lockUntilMs = nowMs + MAX_LOCK_SECONDS * 1000;\nstaticData.lockOwner = owner;\nstaticData.lastAttemptAt = new Date(nowMs).toISOString();\n\nreturn {\n  json: {\n    ...$json,\n    proceed: true,\n    lock: { enabled: true, acquired: true, lockUntilMs: staticData.lockUntilMs, lockOwner: owner }\n  }\n};"},"id":"f0fcf3d4-2eca-484e-a08a-8fc02b7a35a9","name":"Acquire Lock (AIMCODE L1)","type":"n8n-nodes-base.code","typeVersion":2,"position":[6240,1232],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc7d3e2b-0514-40fc-b2a7-24ef98b7f0cf","leftValue":"={{ $json.proceed }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"cfb673a1-8aa9-42ef-a198-2eaf8b89a950","name":"Proceed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[6480,1232],"disabled":true},{"parameters":{"method":"POST","url":"https://api.github.com/repos/{{ $env.GITHUB_REPO_OWNER }}/{{ $env.GITHUB_REPO_NAME }}/dispatches","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=       ={{ { \"event_type\": \"unity-build\", \"client_payload\": { \"request\": $json.request, \"triggerType\": $json.triggerType, \"branch\": $json.branch, \"timestamp\": $json.timestamp, \"instanceRole\": $json.instanceRole } } }}","options":{}},"id":"ae8b6e29-ed54-4ace-af1a-87b9c4896103","name":"Dispatch GitHub Build (AIMCODE L2)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6720,1136],"credentials":{"httpHeaderAuth":{"id":"4r0P78dxHcTyT7aY","name":"Header Auth account 2"}},"disabled":true},{"parameters":{"amount":3,"unit":"minutes"},"id":"9836c582-3bb7-454e-83f1-8d07ab26c35f","name":"Wait (3 min)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[6944,1136],"webhookId":"294a064a-9443-4b8a-9f67-286262986a4a","disabled":true},{"parameters":{"url":"https://api.github.com/repos/{{ $env.GITHUB_REPO_OWNER }}/{{ $env.GITHUB_REPO_NAME }}/actions/workflows/{{ $env.GITHUB_WORKFLOW_FILE }}/runs?per_page=1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{}},"id":"89cc37b2-1bfa-4962-81bf-583f66be4c05","name":"Check Latest GitHub Run (AIMCODE L3)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7152,1136],"credentials":{"httpHeaderAuth":{"id":"4r0P78dxHcTyT7aY","name":"Header Auth account 2"}},"disabled":true},{"parameters":{"url":"https://api.netlify.com/api/v1/sites/{{ $env.NETLIFY_SITE_ID }}/deploys?per_page=1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"id":"5f9d2fee-0e60-4893-a56f-1e304a60f315","name":"Check Latest Netlify Deploy (AIMCODE L3)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7376,1136],"credentials":{"httpHeaderAuth":{"id":"A4L43IRpQFt8TnVe","name":"Header Auth account"}},"disabled":true},{"parameters":{"jsCode":"// L4 (Mastery): compile report + release lock (best-effort)\nlet staticData;\ntry {\n  staticData = $getWorkflowStaticData('global');\n} catch (e) {\n  staticData = null;\n}\n\nlet gh = { ok: null, status: 'unknown', conclusion: 'unknown', url: '' };\ntry {\n  const runs = $items('Check Latest GitHub Run (AIMCODE L3)')[0].json.workflow_runs || [];\n  const latest = runs[0] || {};\n  gh.status = latest.status || 'unknown';\n  gh.conclusion = latest.conclusion || 'unknown';\n  gh.url = latest.html_url || '';\n  gh.ok = (gh.status === 'completed' && gh.conclusion === 'success');\n} catch (e) {\n  gh = { ok: null, status: 'unavailable', conclusion: 'unavailable', url: '' };\n}\n\nlet nf = { ok: null, state: 'unknown', deployUrl: '' };\ntry {\n  const deploys = $items('Check Latest Netlify Deploy (AIMCODE L3)')[0].json;\n  const latest = Array.isArray(deploys) ? (deploys[0] || {}) : {};\n  nf.state = latest.state || 'unknown';\n  nf.deployUrl = latest.deploy_url || '';\n  nf.ok = (nf.state === 'ready' || nf.state === 'published');\n} catch (e) {\n  nf = { ok: null, state: 'unavailable', deployUrl: '' };\n}\n\nif (staticData && $json.lock?.enabled && $json.lock?.acquired) {\n  staticData.lockUntilMs = 0;\n  staticData.lockOwner = '';\n  staticData.lastDispatchAt = $json.timestamp;\n}\n\nconst siteUrl = 'https://' + ($env.NETLIFY_SITE_NAME || 'ballcode-game') + '.netlify.app';\nconst status = $json.status || ($json.proceed ? 'ok' : 'skipped');\nconst message = $json.error\n  ? `Preflight failed: ${$json.error}`\n  : ($json.skipReason ? `Skipped: ${$json.skipReason}` : `Build dispatched. GH=${gh.status}/${gh.conclusion} NF=${nf.state}`);\n\nreturn {\n  json: {\n    status,\n    request: $json.request,\n    triggerType: $json.triggerType,\n    isWebhook: $json.isWebhook,\n    branch: $json.branch,\n    timestamp: $json.timestamp,\n    instanceRole: $json.instanceRole,\n    github: gh,\n    netlify: nf,\n    siteUrl,\n    message\n  }\n};"},"id":"73f56697-531f-4f45-b2be-c0bd38b46b6a","name":"Finalize Report + Release Lock (AIMCODE L4)","type":"n8n-nodes-base.code","typeVersion":2,"position":[7600,1136],"disabled":true},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"f5cd2497-3305-4517-b95a-5b25b1852dab","leftValue":"={{ $json.isWebhook }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"a29145de-faf1-41f5-a661-2cd18b07bd56","name":"Webhook Response?","type":"n8n-nodes-base.if","typeVersion":2,"position":[7824,1136],"disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"59b83cc0-ee0a-402d-9f49-4ddc26060210","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[8032,1136],"disabled":true}],"connections":{"Scheduled Trigger (Hourly) [DISABLED ON DEV]":{"main":[[{"node":"Normalize Input (AIMCODE L1)","type":"main","index":0}]]},"Webhook Trigger (Manual/API)":{"main":[[{"node":"Normalize Input (AIMCODE L1)","type":"main","index":0}]]},"Normalize Input (AIMCODE L1)":{"main":[[{"node":"Env Preflight + Dev Guardrails (AIMCODE L1)","type":"main","index":0}]]},"Env Preflight + Dev Guardrails (AIMCODE L1)":{"main":[[{"node":"Acquire Lock (AIMCODE L1)","type":"main","index":0}]]},"Acquire Lock (AIMCODE L1)":{"main":[[{"node":"Proceed?","type":"main","index":0}]]},"Proceed?":{"main":[[{"node":"Dispatch GitHub Build (AIMCODE L2)","type":"main","index":0}],[{"node":"Finalize Report + Release Lock (AIMCODE L4)","type":"main","index":0}]]},"Dispatch GitHub Build (AIMCODE L2)":{"main":[[{"node":"Wait (3 min)","type":"main","index":0}]]},"Wait (3 min)":{"main":[[{"node":"Check Latest GitHub Run (AIMCODE L3)","type":"main","index":0}]]},"Check Latest GitHub Run (AIMCODE L3)":{"main":[[{"node":"Check Latest Netlify Deploy (AIMCODE L3)","type":"main","index":0}]]},"Check Latest Netlify Deploy (AIMCODE L3)":{"main":[[{"node":"Finalize Report + Release Lock (AIMCODE L4)","type":"main","index":0}]]},"Finalize Report + Release Lock (AIMCODE L4)":{"main":[[{"node":"Webhook Response?","type":"main","index":0}]]},"Webhook Response?":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"global":{"lockUntilMs":1765773866226,"lockOwner":"webhook:main:2025-12-15T03:49:26.206Z","lastAttemptAt":"2025-12-15T03:49:26.226Z"},"node:Scheduled Trigger (Hourly) [DISABLED ON DEV]":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"1afefc88-ab12-43fb-a59d-4629ebd87fe5","activeVersionId":null,"versionCounter":1,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2025-12-15T19:33:16.133Z","createdAt":"2025-12-15T19:33:16.133Z","role":"workflow:owner","workflowId":"a08262f3-c606-4c71-951d-9a9ba4cefbe7","projectId":"CaKBlzQYeYCF1GEA","project":{"updatedAt":"2025-10-03T20:16:48.361Z","createdAt":"2025-08-09T13:42:15.854Z","id":"CaKBlzQYeYCF1GEA","name":"Ra West <rashadlwest@gmail.com>","type":"personal","icon":null,"description":null}}]}]